<div id="<%= dom_id individual %>">
  <p>
    <strong>Website:</strong>
    <%= individual.website %>
  </p>

  <p>
    <strong>Last in:</strong>
    <%= individual.last_in %>
  </p>

  <p>
    <strong>Last out:</strong>
    <%= individual.last_out %>
  </p>

  <p>
    <strong>Time spent:</strong>
    <%= individual.time_spent %>
  </p>

</div>
